<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.png" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

      </header>
      
      <section class="content-section">
        <header class="section-header">
          <h2>Academic Publications</h2>
        </header>
        <div class="resume-item">
          {% if site.resume_social_links.resume_scholar_url %}
            See my <a href="{{  site.resume_social_links.resume_scholar_url }}">Google Scholar</a> profile for an up-to-date listing of my publications.
          {% endif %}
          <ul class="resume-item-list">
            {% for paper in site.data.papers %}
            <li>
              <a href="{{ paper.url }}">"{{ paper.title }}"</a><br>
              <span style="font-size:smaller;">
                <span style="color: gray;">{{ paper.authors }}</span>
                <br><i>{{ paper.journal }}</i> {{ paper.volume }} ({{ paper.year }})</span>
            </li><br>
            {% endfor %}
          </ul>
        </div>
      </section>
      
      <section class="content-section">
        <header class="section-header">
          <h2>Talks</h2>
        </header>
        <div class="resume-item">
          <ul class="resume-item-list">
            {% for talk in site.data.presentations.talks %}
            <li>
              {{ talk.detail }}
              {% if talk.url %}<a href="{{ talk.url }}">(link)</a>{% endif %}
            </li><br>
            {% endfor %}
          </ul>
        </div>
      </section>
      
      <section class="content-section">
        <header class="section-header">
          <h2>Posters</h2>
        </header>
        <div class="resume-item">
          <ul class="resume-item-list">
            {% for poster in site.data.presentations.posters %}
            <li>
              {{ poster.detail }}
              {% if talk.url %}<a href="{{ talk.url }}">(link)</a>{% endif %}
            </li><br>
            {% endfor %}
          </ul>
        </div>
      </section>
      
    </div>

  </body>

</html>
